services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portiguar-api
    ports:
      - "8000:8000"
    networks:
      - portiguar-network
    depends_on:
      - mongo
      - redis
      - celery_worker
  
  mongo:
    image: mongo
    restart: always
    container_name: mongo-portiguar
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  
    ports:
      - 27017:27017
    networks:
      - portiguar-network
  redis:
    image: redis
    restart: always    
    container_name: redis-portiguar
    ports:
      - 6379:6379

    networks:
      - portiguar-network

  celery_worker:
    build:
      context: Dockerfile.celery
      dockerfile: Dockerfile
    container_name: portiguar-celery
    networks:
      - portiguar-network
    depends_on:
      - mongo
      - redis
    command: celery -A portiguar worker --loglevel=info -E --concurrency 2

networks:
  portiguar-network:
    driver: bridge

    